* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  width: 100%;
  margin: auto;
  height: 65px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 0px 0px 10px 10px;
}

.nav-left {
  width: 35%;
}

.nav-left img {
  height: 65px;
}

.nav-right {
  width: 65%;
  margin: 0;
  padding: 0;
}

.nav-right ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}

.nav-right ul li {
  margin: 0 25px;
}

.nav-right ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.4s ease;
}

.nav-right ul li a:hover {
  color: #FF0000;
}

.btn1 {
  display: none;
}

@media (max-width:661px) {
  .navbar {
    z-index: 5;
    height: auto;
    flex-direction: column;
  }

  .btn1 {
    display: block;
  }

  .btn1 i {
    cursor: pointer;
  }

  #btn-close {
    display: none;
  }

  .nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .btn1 i {
    background: #4d4d4d;
    padding: 10px;
    color: #f70000;
  }

  .nav-right ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 0;
    display: none;
  }

  .nav-right ul li {
    margin: 15px 0px;
  }

  .workerContainer {
    width: 100%;
    height: auto;
  }
}

.servicProvider {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  color: #4d4d4d;
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}



div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}

div.card img {
  width: 100%;
  height: 250px;
}

div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}



div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}

div.card div.card-title a.toggle-info {
  border-radius: 6px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: black;
  width: 108px;
  text-align: center;
  transition: 0.2s;
}

div.card div.card-title a.toggle-info:hover {
  background-color: red;
  color: black;
}

div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}

div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}

div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}

div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}

div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}

div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}

div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}

div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}

.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}

div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}

div.card.show div.card-title a.toggle-info span {
  top: 15px;
}

div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}

div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}

div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}

div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}

div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}


/* ////////////search bar */
.searchConitaner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  margin-top: 35px;

}
.toggle-info  {
height: 44px;
    width: 111px;
}

#searchForm {
  display: flex;
  width: 949px;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

.cities {
  margin-right: 25px;
}

.searchbtn {
  margin-left: 25px;
  width: 50px;
}

.searchform input,
.searchform button {
  float: left
}

.searchform input {
  background: #fefefe;
    border: none;
    font-size: 0.7rem;
    margin-right: 5px;
    height: 47px;
    border-radius: 8px;
    padding: 10px;
    width: 299px;
}



.searchform input::-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform input:-moz-placeholder {
  font-style: italic;
  line-height: 15px
}

.searchform button {
  background-color: red;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 164px;
  box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  transition: 0.2s;
}



.searchform button:hover {
  background-color: black;
}



/* ////searchbar */


.pagination-nav {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: right;
}

.pagination-nav button {
  margin-right: 10px;
  padding: 15px;
  background: none;
  border: black 2px solid;
  border-radius: 30px;
}

.pagination-nav button:hover {
  background-color: #008a93;
  transition: ease 1s;

}